streamlit>=1.36
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
scipy>=1.10
plotly>=5.15
# Opcionales (si deseas habilitar estas funciones)
imbalanced-learn>=0.12  # para ADASYN/SMOTE
ucimlrepo>=0.0.7        # para cargar el dataset de diabetes desde UCI
